body {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #070047;
}

#app {
  position: absolute;
  width: 650px;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 25px 35px;
  background-color: rgba(255, 255, 255, 0.486);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.grid__item--shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid__item--grow {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid--spaced {
  margin-left: -10px;
}

.grid--spaced .grid__item {
  padding-left: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #818181;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: white;
}

.input:focus {
  outline: none;
  background-color: transparent;
}

.button {
  cursor: pointer;
}

.button:hover, .button:focus, .button:active {
  outline: 3px solid #1100a7;
  outline-offset: -3px;
}

.button--create {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: block;
  padding: 12px;
  font-size: 18px;
  background-color: #1100a7;
  width: 100%;
}

.button--not-done, .button--pending, .button--done, .button--all {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  color: #070047;
}

.button--not-done {
  background-color: #ff4b4b;
}

.button--pending {
  background-color: #fcff4e;
}

.button--done {
  background-color: #46ff99;
}

.button--all {
  background-color: #dd6cff;
}

.button--remove {
  position: relative;
  height: 50px;
  width: 50px;
}

.button--remove i {
  display: block;
  height: 20px;
  width: 20px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #818181;
  position: absolute;
  cursor: pointer;
}

.button--remove i::after, .button--remove i::before {
  background: white;
  height: 2px;
  width: 10px;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.button--remove i::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.button--remove i::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.button--remove:hover i {
  background: red;
}

.tab {
  position: relative;
  cursor: pointer;
}

.tab span {
  padding: 6px 10px 10px;
  display: block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  color: #818181;
}

.tab::after {
  display: block;
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.tab--not-done, .tab--pending, .tab--done, .tab--all {
  position: relative;
}

.tab--not-done::before, .tab--pending::before, .tab--done::before, .tab--all::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 700;
  width: 24px;
  height: 24px;
  padding: 7px 0 5px 14px;
  color: #070047;
  z-index: 0;
  outline: 0;
}

.tab--not-done::before {
  content: 'N';
  background-color: #ff4b4b;
}

.tab--pending::before {
  content: 'P';
  background-color: #fcff4e;
}

.tab--done::before {
  content: 'D';
  background-color: #46ff99;
}

.tab--all::before {
  content: 'A';
  background-color: #dd6cff;
}

.tab--active::before {
  outline: 3px solid #1100a7;
  outline-offset: -3px;
  -webkit-transition: outline 300ms ease-in;
  transition: outline 300ms ease-in;
}

.tab--active::after {
  -webkit-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
  background: #1100a7;
  opacity: 1;
}

.tab--active span {
  color: #1100a7;
}

.tab:not(.tab--active):hover::before {
  outline: 3px solid #818181;
  outline-offset: -3px;
}

.tab:not(.tab--active):hover::after {
  background: #818181;
}

.section > :not(:last-child) {
  margin-bottom: 40px;
}

.section__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  color: #818181;
}

.icon {
  display: block;
}

.todo > :not(:last-child) {
  margin-bottom: 40px;
}

.todo-list__item {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 5px;
}

.todo-list__item:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

.todo-filters__item {
  padding: 10px 15px;
}

.default-message-container {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #818181;
}
