body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #070047;
  position: relative;
}

#app {
  position: absolute;
  width: 650px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 35px;
  background-color: rgba(255, 255, 255, 0.486);
  box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.1);
}
