.button {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: 3px solid #1100a7;
    outline-offset: -3px;
  }

  &--create {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: block;
    padding: 12px;
    font-size: 18px;
    background-color: #1100a7;
    width: 100%;
  }

  &--not-done,
  &--pending,
  &--done,
  &--all {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 15px;
    color: #070047;
  }

  &--not-done {
    background-color: rgb(255, 75, 75);
  }

  &--pending {
    background-color: rgb(252, 255, 78);
  }

  &--done {
    background-color: rgb(70, 255, 153);
  }

  &--all {
    background-color: rgb(221, 108, 255);
  }

  &--remove {
    position: relative;
    height: 50px;
    width: 50px;

    i {
      display: block;
      height: 20px;
      width: 20px;
      overflow: hidden;
      display: block;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgb(129, 129, 129);
      position: absolute;
      cursor: pointer;

      &::after,
      &::before {
        background: rgb(255, 255, 255);
        height: 2px;
        width: 10px;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &:hover {
      i {
        background: rgb(255, 0, 0);
      }
    }
  }
}
