.section {
  >:not(:last-child) {
    margin-bottom: 40px;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    color: rgb(129, 129, 129);
  }
}
